version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.python
    command: uvicorn app.main:app --host 0.0.0.0 --port 3001 --reload
    ports:
      - "3001:3001"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./data:/data # Persist data
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.python
    # Run Celery Worker
    command: celery -A app.celery_app worker --loglevel=info -B
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    container_name: tools_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: tools_redis
    restart: always
    ports:
      - "6379:6379"

  dozzle:
    container_name: tools_dozzle
    image: amir20/dozzle:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9999:8080"

volumes:
  postgres_data:
